body{
    background-color: rgb(150, 230, 235);
}


table, td, th{
    border: 1px solid red;
}

td{
    padding: 30px 60px;
    text-align: center;
}


#Leg{
    background: white;
}


.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}