Div{
    background-color: rgb(162, 252, 162);
}

.Div2{
    background-color: green;
}

.Div3{
    background-color: rgb(3, 71, 3);
}


.Div4{
    background-color: rgb(172, 4, 4);
}

.Div5{
    background-color: rgb(255, 0, 0);
}

.Div6{
    background-color: rgb(105, 5, 5);
}
