.div1{
    background-color: rgb(155, 241, 138);
}

.div2{
    background-color: rgb(155, 241, 138);
}

.div3{
    background-color: rgb(155, 241, 138);
}

.div4{
    background-color: rgb(155, 241, 138);
}

.div5{
    background-color: rgb(155, 241, 138);
}

.div6{
    background-color: rgb(155, 241, 138);
}

.div7{
    background-color: rgb(155, 241, 138);
}

.divB1{
    background-color: rgb(177, 217, 243);
}

.divB2{
    background-color: rgb(177, 217, 243);
}

.divB3{
    background-color: rgb(177, 217, 243);
}

.divB4{
    background-color: rgb(177, 217, 243);
}

.divB5{
    background-color: rgb(177, 217, 243);
}

h2{
    text-align: center;
}

h3{
    text-decoration: underline;
}

.Color{
    text-indent: 40px;
    line-height: 2.0;
}

.Explicacao1{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Colorp1{
    color: rgb(23, 117, 240);
}

.Colorp2{
    color: rgb(179, 10, 179)
}

.Colorp3{
    color: rgb(184, 184, 9);
}

.Text_align{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicacao2{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Text-alignp2{
    text-align: center;
}

.Text-alignp3{
    text-align: right;
}

.Text-Decoration{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicacao3{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Text-Decorationp1{
    text-decoration: line-through;
}

.Text-Decorationp2{
    text-decoration: underline;
}

.Text-Transform{
    text-indent: 40px;
    line-height: 2.5;
}
.Explicacao4{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Text-Transformp1{
    text-transform: capitalize;
}

.Text-Transformp2{
    text-transform: uppercase;
}

.Text-Indent{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicacao5{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Text-Indentp1{
    text-indent: 70px;
}

.Text-Indentp2{
    text-indent: 130px;
}

.Line-Height{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicacao6{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Line-Heightp2{
    line-height: 1.5;
}

.Line-Heightp3{
    line-height: 2.0;
}


/*Parte 2*/
.Font-Family{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicaçao7{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Font-Familyp2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Font-Familyp3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

.Font-Familyp4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Font-Familyp5{
    font-family: 'Courier New', Courier, monospace;
}

.Font-Style{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicaçao8{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Font-Stylep1{
    font-style: italic;
}

.Font-Weight{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicacao9{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Font-Weightp1{
    font-weight: bold;
}

.Font-Size{
    text-indent: 40px;
    line-height: 2.5;
}

.Explicacao10{
    line-height: 1%;
    text-indent: 40px;
    font-weight: bolder;
}

.Font-Sizep1{
    font-size: small;
}

.Font-Sizep2{
    font-size: medium;
}

.Font-Sizep3{
    font-size: large;
}

.Font-Sizep4{
    font-size: x-large;
}

.Font-Sizep5{
    font-size: xx-large;
}