body{
    background-color: rgb(205, 245, 245);
}

.h1{
    text-indent: 150px;
}

.div1{
    background-color: white;
    border: 10px solid;
    width: 65%; 
}


.h2b{
    text-indent: 150px;
}

.div2{
    background-color: white;
    border: 6px solid;
    font-size: 14px;
    width: 620px; 
}